.clock-bars {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 80%;
    height: 100vh;

    .container {
    // CHARTNYA
    .chart {
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 450px;
                .clock-info{
                    display: flex;
                    gap: 16px;
                    margin-left: auto;
                    margin-right: 5px;
                        .clock{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            p{
                                width: 100px;
                                text-align: center;
                                font-weight: 600;
                                font-size: 17px;
                                color: #686868;
                            }
                        }
                        .clock.green{
                            width: 94px;
                            position: relative;
                            bottom: -50px;
                            h1{
                                color: #AFD233;
                            }
                        }
                        .clock.blue{
                            h1{
                                color: #00C5F2;
                            }
                                bottom: -50px;
                        }
                        .clock.red{
                            h1{
                                color: #E6181C;
                            }
                            bottom: 20px;
                        }
                    .title{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon{
                            h1{
                                font-weight: 700;
                                font-size: 42px;
                            }
                            p{
                            text-align: center;
                            width: 106px;
                            font-weight: 600;
                            font-size: 16px;
                            color: #686868;
                            }
                            img{
                               width: 28px; 
                               height: 28px;
                            }
                        }
                    }
                }

                .chart-box {
                    display: flex;
                    align-items: flex-end;
                    gap: 22px;

                    .kwh {
                        width: 90px;
                        display: flex;
                        transform: rotate(35deg);
                        margin-bottom: 50px;

                        .cent {
                            transform: rotate(-35deg);
                            margin-top: -4px;
                            font-size: 53px;
                            font-weight: 600;
                        }

                        .cent-line {
                            width: 1px;
                            height: 76px;
                            /* margin: 0 6px; */
                            background-color: black;
                        }

                        .kwh-text {
                            transform: rotate(-35deg);
                            margin-top: 38px;
                            margin-left: 11px;
                        }
                    }

                    .chartB {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        width: 90px;

                        span {
                            font-weight: 500;
                            font-size: 32px;
                            color: #FFFFFF;
                            margin-bottom: 20px;
                        }
                    }

                    .first {
                        height: 20px;
                        background: #AFD233;
                        span{
                            color: #919191;
                        }
                    }

                    .center {
                        height: 110px;
                        background: #00C5F2;
                    }

                    .over {
                        height: 175px;
                        background: #E6181C;
                    }
                }

                .line {
                    width: 100%;
                    height: 1px;
                    opacity: .8;
                    margin: 21px 0 20px;
                    background-color: black;
                }
            }

            .spec-chart {
                display: flex;
                width: 450px;
                align-items: center;
                justify-content: flex-start;

                span {
                        display: flex;
                        justify-content: flex-end;
                        font-weight: 500;
                        color: #818181;
                        font-size: 16px;
                }

                span:first-child {
                    width: 226px;
                    text-align: center;
                }

                span:nth-child(n+2) {
                    width: 120px;
                    margin-right: 10px;
                }

                margin-bottom: 30px;
            }

        }
    }

        }
}